@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
.login_flex{
    display:flex;
    justify-content: space-around;
    margin:auto;
    padding:5% 10%;
    align-items:flex-start;
    background-color: #FFE8C9;
}
.login_text{
    width:400px;
}
.login_title{
    font-size: 64px;
    font-family: 'Kosugi Maru', sans-serif;
    margin-top:3%;
    width:430px;
    height:95px;
}
.login_slogan{
    font-size:28px;
    font-family: 'Kosugi Maru', sans-serif;
    margin-left:17%;
    margin-top:7%;
}
.login_img{
    width:330px;
    height:300px;
    margin-left:15%;
    margin-top:0%;
}
.line{
    height:560px;
    border: solid 0.5px;
    margin: 0 30px;
}
.circle_form{
    display:flex;
    justify-content: space-around;
    padding:0 15%;
}
.circle{
    width:60px;
    height:60px;
    border:solid #555555 1px;
    border-radius: 50%;
}
.circle_number{
    margin-left:41%;
    margin-top:27%;
}
.circle_number1{
    color:#fff;
    opacity: 60%;
}
.circle1{
    background-color: #DE926F;
    border:#DE926F;
}
.circle2,
.circle3{
    background-color: #fff;
    opacity: 60%;
}
.circle_line{
    width:50px;
    height:0px;
    border:solid #555555 0.2px;
    margin-top:10%;
}
.input_text{
    font-size: 30px;
    font-family: 'Kosugi Maru', sans-serif;
    color:#555555;
    margin-top:6%;
    margin-left:-2%;
}
.signup01{
    width:350px;
    height:225px;
    border-radius: 10px;
    margin-left:6%;
}
.login_form{
    width:400px;
}

.log_btn{
    margin-left:29%;
    margin-top:30px;
}
.btn-primary{
    width:160px;
    height:55px;
    background-color: #fff !important;
    opacity: 60% !important;
    color:#555555 !important;
    border:#555555 !important;
    border-radius: 10px !important;
}
.btn-primary:hover{
    background-color:#DE926F !important;
    color:#fff !important;
}
.input_box{
    margin-top:8%;
}
.hand_input{
    font-size: 32px;
    color:#DE926F;
    margin-left:33%;
}