body{
    overflow-x: hidden;
}
div{
    transition: 1.2s cubic-bezier(0.2,0,0,1);
}
#b{
    transform: translateX(100vw);
}
#b.active{
    transform: translateX(0vw);
}
#a{
    transform: translateX(-100vw);
}
#a.active{
    transform: translateX(0vw);
}