@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

html{
    background: #FFF9F2;
}
body{
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    color: #555555 !important;
    font-family: 'Kosugi Maru', sans-serif;
}
.color{
    background: #FFF9F2;
    min-height: 100vh;
    width: 100vw;
}
.med_content{
    margin-top: 130px;
}
/* ------nav------ */
.nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #FFE8C9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav_left_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.nav_right_flex{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    
}
.nav_logo{
    width: 80px;
    height: 80px;
}
.nav_title{
    width: 182px;
    height: 42px;
    
    margin-left: 25px;
}
.nav_remind{
    width: 40px;
    height: 40px;
    
    margin-right: 25px;
}
.nav_account{
    width: 40px;
    height: 40px;
   
}

/* ------nav------ */
.container{
    /* background-color: purple;  */

}
.row{
    /* background-color: royalblue; */
}
.col{
    /* background-color: seagreen; */
}
.prep_title{
    font-size: 36px;
    margin-left: 100px;
    
}
.description{
    margin-left: 150px;
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    
}
.pre{
    width: 320px;
    height: 330px;
    padding: 35px;
    /* margin: 20px; */
    background: #fff;
    /* border: 1px red solid; */
    border-radius: 10px;
}
.pre:hover{
    border: 2px #DE926F solid;
}
li{
    list-style-type: none;
    line-height: 38px;
}
.booking .container{
    height: 300px;
    background-color: #fff;
}
.select_box{
    /* background-color: blue; */
    display: inline-flex;
    
}
.timing{
    justify-content: space-between;
    background-color: #fff;
    margin-top: 30px;
}
.address{
    margin-top: 15px;
}
.add_adress{
    color: #DE926F;
}
.add_adress:hover{
    color: #e06830;
}

.btn_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
.btn_icon{
    margin-top: 50px;

}
.booking{
    margin-top: 50px;
}
.timing{
    background: #FFF9F2;;
}
.address{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .accordion-button:not(.collapsed) {

    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none; 
} */
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn-default{
    background: rgba(255, 255, 255, 0.6);
    color: #DE926F;
    font-size: 24px;
    
    border: none;
    width: 160px;
    height: 55px;
    border: 1px solid #555555!important;
    border-radius: 10px;
    
}
.btn-default:hover{
    background:#DE926F ;
    color: white;
}

.form-check-input:checked {
    background-color: #DE926F;
    border-color: #DE926F;

}

.show-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.a-color{
    color: #dba891;
} 
.a-color:hover{
    color: #DE926F;
}