@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


body{
    overflow-x: hidden;
    font-family: 'Kosugi Maru', sans-serif;
}
div{
    transition: 1.2s cubic-bezier(0.2,0,0,1);
}
#b{
    top:0;
    left:0;
    position: absolute;
    width: 100vw;
    height:100vh;
    background-color: #FFF9F2;
    transform: translateX(100vw);
}
#b.active{
    transform: translateX(0vw);
}
#a{
    top:0;
    left:0;
    position: absolute;
    width: 100vw;
    height:100vh;
    background-color: #FFF9F2;
    transform: translateX(-100vw);
}
#a.active{
    transform: translateX(0vw);
}
/* loader */
#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #FFF url('../img/loader.gif') no-repeat center center;
}
/* -----------------Container-------------------------- */



/* --------------Home01---------------- */
.a_container{
    margin-top: 100px;
}
.a_flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */

    
}
.logo_flex{
    display: flex;
    flex-direction: row; 
    justify-content:center;
    align-items: center;
}

.logo_title_slogan{
    width: 800px;
    /* height: 195px; */
    margin-right: 60px;
}
.logo_title_img{
    width: 300px;
    height: 300px;
}
.animate__fadeInLeft{
    animation-delay: 1.5s;
}
.animate__fadeInRight{
    animation-delay: 1.5s;
}
.animate__fadeIn{
    animation-delay: 2.5s;
}
.logo_subtitle{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 36px;
    color: #555555;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 260px;
}


.function_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.function_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.function_icon{
    width: 108px;
    height: 108px;
    margin-left: 70px;
    margin-right: 70px;
}
.function_area p{
    font-family: 'Kosugi Maru', sans-serif;
    color: #555555;
    font-size: 24px;
    margin-top: 10px;
}

/* --------------Home02---------------- */
/* ------nav------ */
.nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #FFE8C9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav_left_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
.nav_right_flex{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    
}
.nav_logo{
    width: 80px;
    height: 80px;
}
.nav_title{
    width: 182px;
    height: 42px;
    
    margin-left: 25px;
}
.nav_remind{
    width: 40px;
    height: 40px;
    
    margin-right: 25px;
}
.nav_account{
    width: 40px;
    height: 40px;
   
}

/* ------nav------ */

/* .b_flex{
    
} */
.b_content_flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    height: 100%;
    margin-top: 100px;
    margin-left: 15%;
    
}
.left_flex{
    display: flex;
    flex-direction: column;
}
/* .left_news{

} */
.news_title{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    
}
.news_info{
    width: 400px;
    /* height: 300px; */
    background: #000;

}

.picture{
    width: 100%;
    height: 250px;
    
}
.left_notices{

}
.notices_title{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    

}
.notices_info{
    width: 400px;
    /* height: 300px; */
    background: #000;
    
}
.right_flex{

}
.right_maps{
    /* width: 550px; */
    /* background: rgb(255, 113, 113); */
    margin-left: 30%;
}

 .spancolor li{
    background-color: #000!important;
}

/* ------delivery------ */
.delivery_title{
    margin-left: 5%;
    font-weight: 800;
    font-size: 36px;
    color: #555555;
}
#de{
    padding-top:120px;
    height: 100vh;
    background-color: #FFF9F2;
}
.a_line{
    height: 1px;
    width: 80%;
    margin:3% 10%;
    background-color: #555555;
}
.next_icon{
    height: 54px;
    width: 54px;
    margin-bottom: 27px;
}
/* ------profile------ */
.profile_img{
    position: absolute;
    top: 100px;
    border-radius: 50%;
    z-index :10;
}
#de{
    padding-top:120px;
    height: 100vh;
    background-color: #FFF9F2;
}
.a_line{
    height: 1px;
    width: 80%;
    margin:3% 10%;
    background-color: #555555;
}
.next_icon{
    height: 54px;
    width: 54px;
    margin-bottom: 27px;
}
/* profile card */
.profile_card{
    width: 540px;
    height: 580px;
    margin-top: 190px;
    z-index :1;
}
.for-icon img{
    width: 40px;
    height: 40px;
    margin-left: 480px;
    margin-top: 20px;
}  

li{
    list-style-type: none;
    margin-top: 20px;
    margin-left: 45px;
    line-height: 40px;
}

.address{
    margin-top: 10px;
}
.area{
    border: #555 1px solid;
    margin-left: 90px;
    padding: 5px;
    background-color: #e5e5e5;
}
.col{
    padding: 5px;
}