
  
  svg {
height: 84vh;
  }
  
  path {
    stroke: #555555;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
  }
  path:hover{
      /* fill:#d1d1d1; */
    fill: #d8f7c6;
  }
  .taipei:hover, .newtaipei:hover, .taoyuan:hover, .yilan:hover, .taichung:hover{
    /* fill: #ffa6a6; */
    fill: #ba6161;
  }
  .changhua:hover, .hsunchu-c:hover{
      /* fill: #ffcc99; */
    fill: #ffa6a6;
  }
  .keelung:hover{
      /* fill: #ffed75; */
      fill: #ffcc99;
  }
  .kaohsung:hover, .tainan:hover, .nantou:hover{
    /* fill: #aee38f; */
      fill: #ffed75;
  }


  